* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em; 
}

.gray {
  color: #888888;
}

button {
  border-color: transparent;
  border-width: 0;
}

button:focus {
  outline: none;
}

.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.content-between {
  justify-content: space-between;
}




