.input {
  width: 100%;
  padding-right: 50px; 
}

.input:focus {
  outline: none;
}

.search-container {
  width: 40%;
  margin: 16px auto;
}

.clear-icon {
  margin: 0 16px;
}

.results-item {
  border-bottom: 1px solid #dddddd;
}

.search-bar-container {
  position: relative;
}

.search-bar:focus {
  border-color: #888
}

.search-bar-buttons-container {
  position: absolute;
  z-index: 1;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
}